{:paths ["src"]
 :deps
 {thheller/shadow-cljs                          {:mvn/version "2.17.8"}
  com.google.guava/guava                        {:mvn/version "31.0.1-jre"}
  com.github.seancorfield/honeysql              {:mvn/version "2.5.1103"}
  org.clojure/clojure                           {:mvn/version "1.10.3"}
  data.deque/data.deque                         {:mvn/version "0.1.0"}
  ;;org.postgresql/postgresql                     {:mvn/version "9.3-1102-jdbc41"}
  com.github.seancorfield/next.jdbc             {:mvn/version "1.3.909"}
  com.mysql/mysql-connector-j                   {:mvn/version "8.3.0"}
  com.zaxxer/HikariCP                           {:mvn/version "3.3.1"}
  ring-cors/ring-cors                           {:mvn/version "0.1.13"}
  nano-id/nano-id                               {:mvn/version "1.0.0"}
  net.cgrand/macrovich                          {:mvn/version "0.2.1"}
  nrepl/nrepl                                   {:mvn/version "0.6.0"}
  cider/cider-nrepl                             {:mvn/version "0.26.0"}
  org.clojure/tools.logging                     {:mvn/version "1.1.0"}
  mount/mount                                   {:mvn/version "0.1.16"}
  ring/ring                                     {:mvn/version "1.9.4"}
  ring-middleware-format/ring-middleware-format {:mvn/version "0.7.4"}
  clojure.java-time/clojure.java-time           {:mvn/version "0.3.2"}
  clj-time/clj-time                             {:mvn/version "0.15.2"}
  clj-http/clj-http                             {:mvn/version "3.10.0"}
  metosin/reitit                                {:mvn/version "0.5.5"}
  org.clojure/core.async                        {:mvn/version "1.5.648"}
  bk/ring-gzip                                  {:mvn/version "0.3.0"}
  com.taoensso/timbre                           {:mvn/version "4.10.0"}
  compojure/compojure                           {:mvn/version "1.6.2"}
  info.sunng/ring-jetty9-adapter                {:mvn/version "0.12.5"}
  metosin/ring-http-response                    {:mvn/version "0.9.1"}
  ring/ring-json                                {:mvn/version "0.3.1"}
  org.clojure/data.xml                          {:mvn/version "0.0.8"}

  buddy/buddy-sign   {:mvn/version "3.4.1"}
  buddy/buddy-auth   {:mvn/version "3.0.1"}
  com.draines/postal {:mvn/version "2.0.4"}


  macchiato/core {:mvn/version "0.2.16"}}
 :infer-externs true

 :aliases
 {:shadow
  {:main-opts ["-m" "shadow.cljs.devtools.cli"]}
  }}
